---
import Nav from './components/Nav'
import MainLayout from "../layouts/main-layout.astro"
import Wallpaper from "./components/WallpaperPage"
---


<MainLayout title="dev">

<div>
	<Wallpaper />
	
</div>
</MainLayout>