---
import Nav from './components/deprecated-components/Nav'
import MainLayout from "../layouts/main-layout.astro"
// import Wallpaper from "./components/deprecated-components/WallpaperPage"
import HomePage from "./HomePage"
---


<MainLayout title="dev">

<div>
	<HomePage client:load/>
</div>
</MainLayout>