---
const {title} = Astro.props
import Nav from "../pages/components/Nav.tsx"
---


<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta
            name="description"
            content="dre's homepage"
        />
        <meta title={title}/>
    </head>
    <body class="overflow-hidden">
        <main>
            <slot />
            <Nav client:load/>
        </main>
        
    </body>
</html> 